/**
 * Basics
 */
*, *:before, *:after
  box-sizing: border-box

html, body
  font-family: 'PT Sans', Helvetica, Arial, sans-serif
  font-size: 100%
  line-height: 1.333
  height: 100%
  width: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  overflow: hidden

hr
  display: block
  height: 0
  border: none
  border-top: 1px solid #444
  margin: .5em 0
  padding: 0

.hidden
  display: none
